.main-container {
  width: 100%;
  .avatar-box {
    width: 80px;
    height: 80px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .galley-box {
    border-top: 1px solid #ccc;
  }
  .galley-item {
    width: 100px;
    height: 120px;
    img {
      display: block;
      width: 100px;
      height: 100px;
    }
  }
  .blog-img {
      width: 100%;
      height: 80%;
      img {
          display: block;
          width: 100%;
          height: 100%;
      }
  }
  .page-des {
    padding: 20px 40px;
  }
}

