.upload-box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px dashed #6bb2fffc;
    text-align: center;
    cursor: pointer;
    p {
        font-size: 18px;
        color: #0062cc;
    }
    .upload-file {
        display: none;
    }
    .upload-icon {
        display: inline-block;
        height: 20px;
        width: 20px;
        fill: #0062cc;
    }
}